.loader {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.disabled {
    display: none !important;
}

.background-loader {
    background: rgba(255, 255, 255, 0.522);
}

.background-saved {
    background: rgba(255, 255, 255, 0.786);
}